:root.theme-dark {
  --accent-color: #FF0070;
  --main-color: #F1B2CE;
  --title-color: #DB00FF;
  --title-decor-bg: #FF0070;
  --title-decor-text: #000028;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --button-hover-border: rgba(255, 0, 112, 0.4);
  --link-shadow: #FF0070;
  --section-title-color: #FF0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #FF0070;
    --main-color: #F1B2CE;
    --title-color: #DB00FF;
    --title-decor-bg: #FF0070;
    --title-decor-text: #000028;
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --button-hover-border: rgba(255, 0, 112, 0.4);
    --link-shadow: #FF0070;
    --section-title-color: #FF0070;
  }
}