:root.theme-light {
  /* Цвета светлой темы */
  --accent-color: #FF8DCB; /* Розовый акцент */
  --main-color: #353430;   /* Темно-серый текст */
  --title-color: #FFC2E6;  /* Светло-розовый заголовок */
  --title-decor-bg: #FF8DCB; /* Розовый фон заголовков */
  --title-decor-text: #353430; /* Темный текст на розовом фоне */
  --bg-color: #FFF1F7;     /* Светло-розовый фон */
  --bg-image: url(../images/cover-image-light.png);
  --button-hover-border: rgba(255, 141, 203, 0.4);
  --link-shadow: #FF8DCB;  /* Розовая тень ссылок */
  --decorative-color: var(--main-color); /* #353430 */
  --button-hover-border: rgba(50, 49, 45, 0.4);
}

.theme-light .decorated-zone::before,
.theme-light .decorated-zone::after {
  border-color: var(--decorative-color); 
}

.theme-light .header__theme-menu-button {
  color: var(--decorative-color); /* Цвет текста кнопок */
}

.theme-light .header__theme-menu-button:focus-visible {
  border-block-end-color: var(--decorative-color); /* Цвет нижней границы при фокусе */
}

.theme-light .header__theme-menu-button_active {
  border-color: var(--decorative-color); /* Цвет активной кнопки */
}

.theme-light .header__theme-menu-button:hover {
  border-color: var(--button-hover-border); /* Цвет при ховере */
}

.theme-light .header__rec {
  display: none;
}

/* Медиазапрос для авторежима (prefers-color-scheme: light) */
@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --main-color: #353430;
    --title-color: #FFC2E6;
    --title-decor-bg: #FF8DCB;
    --title-decor-text: #353430;
    --bg-color: #FFF1F7;
    --bg-image: url(../images/cover-image-light.png);
    --button-hover-border: rgba(255, 141, 203, 0.4);
    --link-shadow: #FF8DCB;
  }
  
  :root:not(.theme-dark) .header__rec {
    display: none;
  }
  
  :root:not(.theme-dark) .decorated-zone::before,
  :root:not(.theme-dark) .decorated-zone::after {
    border-color: var(--main-color);
  }
  
  :root:not(.theme-dark) .header__theme-menu-button {
    color: var(--main-color);
  }
  
  :root:not(.theme-dark) .header__theme-menu-button:hover {
    border-color: rgba(50, 49, 45, 0.4);
  }
  
  :root:not(.theme-dark) .header__theme-menu-button:focus-visible {
    border-block-end-color: var(--main-color);
  }
  
  :root:not(.theme-dark) .header__theme-menu-button_active {
    border-color: var(--main-color);
  }
}